.dPost {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 8px;
  gap: 12px;
  img {
    height: 300px;
    width: 300px;
    border-radius: 8px;
  }

  h1 {
    font-size: 1rem;
    font-weight: bold;
  }

  p {
    font-size: 0.8rem;
    font-weight: lighter;
    padding: 0 30px;
  }
}
